:root {
  --bg-color: #f9f7fe;
  --btn-color: #6c63ff;
  --p-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

.btn-branding {
  background-color: var(--btn-color);
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.btn-branding:hover {
  background-color: white;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

.btn-branding-outline {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.btn-branding-outline:hover {
  background-color: var(--btn-color);
  color: white;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--secondary-font-family);
}

img {
  border-radius: 8px;
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 100px 0;
}

.hero p {
  color: var(--p-color);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.hero h1 {
  font-size: 96px;
  line-height: 128px;
  font-weight: 700;
}

.hero h2 {
  color: var(--p-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}

.project-title {
  font-size: 64px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.featured-subtitle {
  text-align: center;
  color: var(--p-color);
  font-size: 30px;
  line-height: 27px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.project-description {
  color: var(--p-color);
  opacity: 70%;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 65px;
}

.content-container {
  padding: 100px 5px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .hero {
    padding: 60px 0;
  }
  .hero h1 {
    font-size: 45px;
    line-height: 64px;
  }

  .container {
    text-align: center;
  }

  .featured-subtitle {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .project-title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 35px;
  }

  .content-container h1 {
    font-size: 50px;
  }
}
