:root {
  --bg-color: #f9f7fe;
  --btn-color: #6c63ff;
  --p-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

.btn-branding {
  background-color: var(--btn-color);
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

h1 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 100px 0;
}

.hero p {
  color: var(--p-color);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.hero h1 {
  font-size: 96px;
  line-height: 128px;
  font-weight: 700;
}

.hero h2 {
  color: var(--p-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}
